{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}

<div class="row">
    <div class="col-md-12">
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <a href="{% url 'home:normalisasi' data.level %}">
                    <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                        NORMALISASI 
                    </button>
                </a>
                &nbsp;
                <a href="{% url 'home:kernel' data.level %}">
                    <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                        KERNEL 
                    </button>
                </a>
                &nbsp;
                <a href="{% url 'home:training' data.level %}">
                    <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                        SEQUENTIAL TRAINING
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row" style="display: {{ data.display_form }}">
    <div class="col-lg-12">
        <!-- INPUT PARAMETER -->
        <div class="card">
            <div class="card-header">
                <strong>INPUT PARAMETER</strong>
            </div>
            <div class="card-body card-block">
                <form action="" method="post" class="form-horizontal" novalidate>
                    {% csrf_token %}
                    {% for field in data.form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% render_field field class="form-control" %}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary btn-sm" id="btn_proses_training">Proses</button>
                </form>
            </div>
        </div>
        <!-- END INPUT PARAMETER-->
    </div>
</div>

<div class="row" id="div_proses_training" style="display: {{ data.display_result }}">
    <div class="col-lg-12">
        <!-- MATRIKS HESSIAN -->
        <div class="user-data m-b-30">
            <h3 class="title-3 m-b-30">
                <i class="zmdi zmdi-assignment"></i>MATRIKS HESSIAN
            </h3>
            <div class="table-responsive table-data">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Dij</td>
                            {% for data in data.n_data_normalisasi %}
                                <td>{{ forloop.counter }}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for datax in data.n_list_data_matriks_view %}
                        <tr class="tr-shadow">
                        {% for datay in datax %}
                            <td>{{ datay }}</td>
                        {% endfor %}
                        </tr>
                        <tr class="spacer"></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
         <!-- END MATRIKS HESSIAN-->
    </div>

    {% for dt in data.data_iterasi %}
    <div class="col-lg-12">
        <div class="card-header">
            <strong>ITERASI KE - {{ forloop.counter }}</strong>
        </div>

        <div class="user-data m-b-30">
            <!-- NILAI ERROR-->
            <h3 class="title-3 m-b-30">
                <i class="zmdi zmdi-assignment"></i>NILAI ERROR
            </h3>
            <div class="table-responsive" style="padding: 0px 0px 10px 30px;">
                <table class="table">
                    <thead>
                        <tr>
                            <td><b>i</b></td>
                            {% for data in data.n_data_normalisasi %}
                                <td>{{ forloop.counter }}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-shadow">
                            <td><b>Ei</b></td>
                        {% for datax in dt.data_error_rate %}
                            <td>{{ datax }}</td>
                        {% endfor %}
                        </tr>
                        <tr class="spacer"></tr>
                    </tbody>
                </table>
            </div>
            <!-- END NILAI ERROR-->

            <br />
            <br />

            <!-- PERHITUNGAN DELTA-ALFA-->
            <h3 class="title-3 m-b-30">
                <i class="zmdi zmdi-assignment"></i>PERHITUNGAN DELTA-ALFA
            </h3>
            <div class="table-responsive" style="padding: 0px 0px 10px 30px;">
                <table class="table">
                    <thead>
                        <tr>
                            <td><b>i</b></td>
                            {% for data in data.n_data_normalisasi %}
                                <td>{{ forloop.counter }}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-shadow">
                            <td><b>da</b></td>
                        {% for datax in dt.data_delta_alfa %}
                            <td>{{ datax }}</td>
                        {% endfor %}
                        </tr>
                        <tr class="spacer"></tr>
                    </tbody>
                </table>
            </div>
            <!-- END PERHITUNGAN DELTA-ALFA-->

            <br/>
            <br/>

            <!-- PERHITUNGAN ALFA BARU-->
            <h3 class="title-3 m-b-30">
                <i class="zmdi zmdi-assignment"></i>PERHITUNGAN ALFA BARU
            </h3>
            <div class="table-responsive" style="padding: 0px 0px 10px 30px;">
                <table class="table">
                    <thead>
                        <tr>
                            <td><b>i</b></td>
                            {% for data in data.n_data_normalisasi %}
                                <td>{{ forloop.counter }}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-shadow">
                            <td><b>ai</b></td>
                        {% for dataz in dt.data_alfa_baru %}
                            <td>{{ dataz }}</td>
                        {% endfor %}
                        </tr>
                        <tr class="spacer"></tr>
                    </tbody>
                </table>
            </div>
            <!-- END PERHITUNGAN ALFA BARU-->
        </div>
    </div>
    {% endfor %}

    <div class="col-lg-12">
        <!-- BIAS -->
        <div class="user-data m-b-30">
            <h3 class="title-3 m-b-30">
                <i class="zmdi zmdi-assignment"></i>HASIL PERHITUNGAN BOBOT
            </h3>
            <div class="table-responsive" style="padding: 0px 0px 10px 30px;">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Dij</td>
                            {% for data in data.n_data_normalisasi %}
                                <td>{{ forloop.counter }}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for datax in data.data_bobot %}
                        <tr class="tr-shadow">
                        {% for datay in datax %}
                            <td>{{ datay }}</td>
                        {% endfor %}
                        </tr>
                        <tr class="spacer"></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
         <!-- END BIAS-->
    </div>

    <div class="col-lg-12">
        <!-- HASIL -->
        <div class="user-data m-b-30">
            <h3 class="title-3 m-b-30">
                <i class="zmdi zmdi-assignment"></i>NILAI BIAS
            </h3>
            <h3 class="title-3 m-b-30">
                <b>{{ data.bias }}</b>
            </h3>
        </div>
         <!-- END HASIL-->
    </div>

</div>

{% endblock %}